#topHeader {
    text-align: center;
    font-weight:bold;
    font-family: "Lucida Console"
}

#learnMoreButton {
    position: relative;
    left: 45%;
}
#backgroundColor{
    background-color: #65ced8;
}
#scenario{
    max-width: 100%;
    max-height: 1000px;
    position: relative;
    align: center
}
#bestphoto{
    width:500px;
    height:600px;
    position: relative;
    left: 40%;
}
#numBox{
  text-align: center;
}
